.embed-HtmlCode {
    width: 800px !important; 
}

.eesy-tab2:focus {
  outline: 0px;
}
.eesy-tab2-container {
    bottom: auto;
    right: 424px;
    top: 25px;
    position: absolute;
}
.eesy-tab2-btn {
    border-radius: 0;
    max-width: 250px;
    opacity: 1;
    background-color: #666666;
    height: 25px;
}

.eesy-tab2-btn-text {
    opacity: 1;
    visibility: visible;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    padding-top: 4px;
}

.eesy-tab2.eesy-tab2-btn {
    color: #eee;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
}

.eesy-tab2-btn-icon {
    font-size: 20px;
    top: 1px;
}

@media only screen and (max-width: 667px) and (min-width: 320px) {
    .eesy-tab2-container {
        position:fixed;
        top:34px;
        right: 118px;
}
}
@media only screen and (max-width: 1024px) and (min-width: 668px) {
    .eesy-tab2-container {
        position:fixed;
        top:40px;
      }
    .eesy-tab2-btn {
        height:40px;
      }
    .eesy-tab2-btn-text {
      padding-top: 9.8px;
    }
    .eesy-tab2-btn-icon {
      top: 8.5px;
    }
}

.eesy-highlighted { 
  outline: transparent;
}

.eesy__modal-scope .layout__header {
  background-color: #0173CF !important;
}

.eesy__modal-scope .section.___primary {
  background-color: #0173CF !important;
} 

.eesy__modal-scope .header__close:before {
  color: white !important;
}

.eesy__modal-scope .header__back:before {
  color: white !important;
}

.eesy__modal-scope .filter__category {
  background-color: #00559C !important;
}

.eesy__modal-scope .filter__category.___is-selected {
  background-color: #fff !important;
  color: #0173CF !important;
}

.eesy__modal-scope .header__search:before {
  color: #333333 !important;
}

.eesy__modal-scope .contact__button.___email:after {
  color: #0133cf !important;
}

.eesy__modal-scope .contact__button {
  border-style: solid !important;
  border-color: #bfdcf3 !important;
  border-width: 1px !important;
  color: #0173CF !important;
}

.eesy__modal-scope .contact__button.___email:after {
  color: #0173CF !important;
  font-size: 17.0625px !important;
}

.eesy__modal-scope .contact__button.___call:after {
  color: #0173CF !important;
  font-size: 24.375px !important;
}

.eesy__modal-scope .contact__button.___chat:after {
  color: #0173CF !important;
  font-size: 24.375px !important;
}

.eesy__modal-scope .eesy__footer {
  background-color: #333333 !important;
}

/* styling messages */

.eesy_container_v2 .eesy_systray_header {
    color: #0173CF;
}

.eesy_container_v2 .eesy_systray_hide {
    color: white;
    background-color: #B90000;
    border-color: #B90000;
}

.eesy_container_v2 .eesy_systray_hide:hover {
    background: white;
}

.eesy_container_v2 .eesy_systray_hide:hover .eesy_systray_hide_text {
    color: #B90000;
}

.eesy_container_v2 .eesy_systray_close {  
    background-color: white;
    color: #B90000;
    border: 2px solid #B90000;
    padding: 4px;
}

.eesy_container_v2 .eesy_systray_close:hover .eesy_systray_close_text {
    color: white;
}

.eesy_container_v2 .eesy_systray_close:hover {
    border: none;
    background-color: #B90000;
    padding: 6px;
}

/* New*/
/*Popup styling*/
.eesy_container_v2 .eesy_header {
    color: #0173CF;
}

.eesy_container_v2 .eesy_standard_hide {
    color: white;
    background-color: #B90000;
    border-color: #B90000;
}

.eesy_container_v2 .eesy_standard_hide:hover {
    background-color: white;
}

.eesy_container_v2 .eesy_standard_hide:hover .eesy_hide_text {
    color: #B90000;
}

.eesy_container_v2 .eesy_close {
    background-color: white;
    color: #B90000;
    border: 2px solid #B90000;
    padding: 4px;
}

.eesy_container_v2 .eesy_close:hover .eesy_close_text {
    color: white;
}

.eesy_container_v2 .eesy_close:hover {
    border: none;
    background-color: #B90000;
    padding: 6px;
}

/*Hint hover style*/
.eesy_container_v2 .eesy_hint_header {
    color: #0173CF;
}

.eesy_container_v2 .eesy_hint_hide {  
    color: white;
    background-color: #B90000;
    border-color: #B90000;
}

.eesy_container_v2 .eesy_hint_hide:hover {
    background: white;
}

.eesy_container_v2 .eesy_hint_hide:hover .eesy_hint_hide_text {
    color: #B90000;
}

.eesy_container_v2 .eesy_hint_close {  
    background-color: white;
    color: #B90000;
    border: 2px solid #B90000;
    padding: 4px;
}

.eesy_container_v2 .eesy_hint_close:hover .eesy_hint_close_text {
    color: white;
}

.eesy_container_v2 .eesy_hint_close:hover {
    border: none;
    background-color: #B90000;
    padding: 6px;
}

/* Style hint fixed*/
.eesy_container_v2 .eesy_hintfixed_dontshowanymore {  
    color: white;
    background-color: #B90000;
    border-color: #B90000;
}

.eesy_container_v2 .eesy_hintfixed_close {
    background-color: white;
    color: #B90000;
    border: 2px solid #B90000;
    padding: 4px;
}

/* header text style inherited from systray*/
.eesy_container_v2 .eesy_hintfixed_dontshowanymore:hover {
    background: white;
}

.eesy_container_v2 .eesy_hintfixed_dontshowanymore:hover .eesy_hintfixed_hide_text {
    color: #B90000;
}

.eesy_container_v2 .eesy_hintfixed_close:hover .eesy_hintfixed_close_text {
    color: white;
}

.eesy_container_v2 .eesy_hintfixed_close:hover {
    border: none;
    background-color: #B90000;
    padding: 6px;
}

/* ----------*/




/* curved corners */
.eesy_container_v2.eesy_container {
	border-radius: 7px;
}

.eesy_container_v2 .eesy_header,
.eesy_container_v2 .eesy_systray_header,
.eesy_container_v2 .eesy_hint_header {
	border-radius: 7px 7px 0px 0px;
}

.eesy_container_v2 .eesy_footer,
.eesy_container_v2 .eesy_systray_footer,
.eesy_container_v2 .eesy_hint_footer {
    border-radius: 0px 0px 7px 7px;
}

.eesy__modal__box.standalone {
	border-radius: 7px;
}

.eesy__modal__box.standalone .eesy_header,
.eesy__modal__box.standalone .eesy_systray_header,
.eesy__modal__box.standalone .eesy_hint_header {
    border-radius: 7px 7px 0px 0px;
}

.eesy__modal__box.standalone .eesy_footer,
.eesy__modal__box.standalone .eesy_systray_footer,
.eesy__modal__box.standalone .eesy_hint_footer {
    border-radius: 0px 0px 7px 7px;
}